.a{
    height:"960px";
     width:"275px";
      border:1px ;
   text-align: center;
     
}
.a product{
    height: 180px;
    widows: 200px; 
    border-color: black;
    box-sizing: 1px;
}